<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>mongo-test</title>
  <link rel="stylesheet" href="/css/stylesheet.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>
    <a id="home-btn" href="/">Collage</a>
		<% if (!user) { %>
			<a href="/login">Login</a>
    	<a href="/signup">Sign up</a>
		<% } else { %>
			<a href="/submit">Submit a post</a>
    	<a href="/users/<%= user.username %>">View profile</a>
    	<a href="/logout">Logout</a>
		<% } %>
  </header>
  
  <h1><%= post.title %></h1>

  <% if (post.link) { %>
    <a href="<%= post.link %>" target="_blank">Link</a>
  <% } %>

  <h3>Submitted on <%= post.date %> by <a href="/users/<%= user.username %>"><%= user.username %></a></h3>

  <% if (post.text) { %>
    <p><%= post.text %></p>
  <% } %>

  <h2>Comments</h2>

  <% for (var i = 0; i < comments.length; i++) { %>
    <p>
      <strong>
        <a href="/users/<%= comments[i].user %>">
          <%= comments[i].user %>
        </a>
      </strong> writes: <br/>
      > <%= comments[i].text %>
    </p>
  <% } %>

  <% if (user) { %>
    <form action="/posts/<%= post._id %>/comments" method="post">
      <label>Leave a comment</label><br/>
      <textarea rows="4" name="text"></textarea><br/>
      <button type="submit">Post</button>
    </form>
  <% } %>
</body>
</html>
