<div class="post">
  <section class="post-content">
    <div class="post-title">
      <h3>{{post.title}}</h3>

      {{#if post.link}}
        <div class="post-link">[<a href="{{post.link}}" target="_blank">link</a>]</div>
      {{/if}}

      <h6>Submitted on {{post.date}} by <a href="/users/{{user.username}}">{{user.username}}</a></h6>
    </div>

    {{#if post.text}}
      <div class="post-text">
        <p>{{post.text}}</p>
      </div>
    {{/if}}
  </section>

  {{!-- <h4>Comments 
    {{#if comments.length}}
      ({{comments.length}})
    {{/if}}
  </h4> --}}

  <section class="post-comments">
    {{#each comments}}
      <p>
        <strong>
          <a href="/users/{{user}}">
            {{user}}
          </a>
        </strong> writes: <br/>
        > {{text}}
      </p>
    {{/each}}
  </section>

  <section class="post-addcomment">
    {{#if user}}
      <form action="/posts/{{post._id}}/comments" method="post">
        <div id="comment-input">
          <input type="text" name="text" placeholder="Leave a comment"></input>
        </div>
        <div id="comment-submit">
          <button type="submit">Post</button>
        </div>
      </form>
    {{/if}}
  </section>
</div>
